<h2>Dữ liệu từ controller gửi về: @ViewBag.infoDaiLy</h2>
<form asp-action="Index">
    <label>Nhập mã đại lý</label>
    <input type="text" name="MaDaiLy"/>
    <label>Nhập tên đại lý</label>
    <input type="text" name="TenDaily"/>
    <label>Nhập địa chỉ</label>
    <input type="text" name="DiaChi"/>
    <label>Nhập người đại diện</label>
    <input type="text" name="NguoiDaiDien"/>
    <label>Nhập số điện thoại</label>
    <input type="text" name="DienThoai"/>
    <label>Nhập mã hệ thồng</label>
    <input type="text" name="MaHTPP"/>
    <input type="submit" value="Gửi"/>
</form>